$primary : rgb(17, 0, 255);
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  border-bottom: 4px solid $primary;
  align-items: center;
  .logo-container {
    height: 100%;
    width: 200px;
    font-size: 23px;

    svg {
      vertical-align: middle;
    }
    span {
      font-weight: 700;
      text-transform: capitalize;
      padding-left: 15px;
      vertical-align: middle;
      color: $primary;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }
}