.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 200px;
    padding: 25px;
    font-size: 23px;

    svg {
      vertical-align: middle;
    }
    span {
      font-weight: 700;
      text-transform: capitalize;
      padding-left: 15px;
      vertical-align: middle;
      color: rgb(17, 0, 255);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }
}