.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .message {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    position: relative;
    overflow: hidden;
    margin: 4rem auto;
    width: 100%;
    max-width: 535px;
    .head { 
      color: #fff;
      padding: 1rem 1.5rem;
      background-color: #007bff ;
    }
    .body {
      color: #000;
      padding: 1rem 1.5rem;
      ul {
        padding-left: 0;
        list-style: none;
        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}